*{
    margin: 0;
}
@media only screen and (max-width: 800px) {
}
body{
    background-color:white;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "cabe cabe cabe"
    "secu prin prin"
    "roda roda roda";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto auto;
}
header{
    grid-area: cabe;
    background-color: black;
    height: 150px;
}
header img{
    height: 180px;
    width: 180px;
}
aside{
    grid-area: secu;
    background-color: rgb(255, 255, 255);
    height: 600px;
}
main{
    grid-area: prin;
    background-color: rgb(122, 116, 116);
    height: auto;
}
footer{
    grid-area: roda;
    background-color: rgb(128, 128, 226);
}

.elementomae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border-radius: 20px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white
}

.card a{
    border-radius: 30px;
    background-color: cornflowerblue;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 100ms;
}

card a:hover{
    background-color: black;
    color: black;
}